<?xml version="1.0" encoding="utf-8"?>
<?define UpgradeCode = "2bbe32a2-1e37-4663-97d4-cb9e5c7dfde3"?>
<?define BaseName = "Strowger Tinyphone"?>
<?if $(var.tinyphone.Configuration) = "Debug" ?>
<?define ShortcutName = "$(var.BaseName) Debug" ?>
<?else?>
<?define ShortcutName = $(var.BaseName) ?>
<?endif?>
<?define ProductVersion=!(bind.FileVersion.TinyPhone.exe)?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:fw="http://schemas.microsoft.com/wix/FirewallExtension" >
  <Product Id="*" Name="$(var.BaseName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Flipkart India" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" Description="$(var.ShortcutName) $(var.ProductVersion) Installer" InstallScope="perMachine" />
    <?if $(var.tinyphone.Configuration) != "Debug" ?>
    <MajorUpgrade Schedule="afterInstallInitialize" AllowSameVersionUpgrades="yes"  DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <?endif?>
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="ProductFeature" Title="Tinyphone" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ProductSystemComponents"/>
      <ComponentGroupRef Id="ProductSupportComponents" />
    </Feature>

    <Icon Id="icon.ico" SourceFile="$(var.tinyphone.ProjectDir)\resources\tinyphone.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico"/>
    <Property Id='ARPHELPLINK'>https://github.com/voiceip/tinyphone</Property>

    <Property Id="WixQuietExecCmdLine" Value='"[WindowsFolder]\System32\taskkill.exe" /F /IM $(var.tinyphone.TargetFileName)' Hidden="yes"/>
    <CustomAction Id="Tinyphone.TaskKill" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="immediate" Return="ignore"/>

    <CustomAction Id="PostInstScript.SetParam" Return="check"  Property="PostInstScript" Value="[ProcessorArchitecture]" /> 

    <InstallExecuteSequence>
      <!--<RemoveExistingProducts Before="InstallInitialize"/> -->
      <!--<Custom Action='Tinyphone.TaskKill' Before='InstallValidate'/>-->
      <Custom Action ="PostInstScript.SetParam" After="InstallFiles">NOT Installed</Custom>
      <Custom Action='PostInstScript' After="PostInstScript.SetParam">NOT Installed</Custom>
    </InstallExecuteSequence>
  </Product>
  <Fragment>
    <Binary Id="MSIActions" SourceFile="$(var.installer-actions.TargetPath)" />
    <CustomAction Id="PostInstScript" Return="ignore" BinaryKey="MSIActions" DllEntry="PostInstall"
          Execute="deferred" Impersonate="no" /> 
  </Fragment>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Tinyphone" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Tinyphone" />
      </Directory>
      <Directory Id="DesktopFolder" />
      <Directory Id="SystemFolder" />
    </Directory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="{AE75A17D-3EBF-4B68-AA32-73D18D983316}">
        <File Id="TinyPhone.exe" Name="$(var.tinyphone.TargetFileName)" Source="$(var.tinyphone.TargetPath)" KeyPath="yes">
          <Shortcut Id="desktopShortcut" Directory="DesktopFolder" Name="$(var.ShortcutName)" WorkingDirectory="INSTALLFOLDER" Advertise="yes" Icon="icon.ico" IconIndex="0" />
        </File>
      </Component>
      <Component Id="RegistryEntries" Guid="{9d45b01b-b3d2-4c21-9d94-df7c007c12c9}">
          <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion\Image File Execution Options\tinyphone.exe\PerfOptions"
              Action="createAndRemoveOnUninstall">
            <RegistryValue Type="integer" Name="CpuPriorityClass" Value="3"/>
          </RegistryKey>
      </Component> 
      <Component Id="cmpFirewallException" Guid="{AE75A17D-3EBF-4B68-AA32-73D18D983319}" 
           KeyPath="yes">
        <fw:FirewallException Id="TinyphoneFirewallException"
          Program="[#TinyPhone.exe]" 
          Description="Allow TinyPhone to communicate" 
          Name="TinyPhone Firewall Exception" 
          Scope="any" Protocol="any" />
      </Component>

    </ComponentGroup>
    <ComponentGroup Id="ProductSystemComponents" Directory="SystemFolder" >
      <Component Id="DLLComponent" Guid="{AE75A17D-3EBF-4B68-AA32-73D18D983315}">
        <File Id="libcurl.dll" Name="libcurl.dll" Source="$(var.tinyphone.ProjectDir)\..\lib\curl\builds\libcurl-vc-x86-release-dll-ipv6-sspi-winssl\bin\libcurl.dll" />
        <File Id="portaudio_x86.dll" Name="portaudio_x86.dll" Source="$(var.tinyphone.ProjectDir)\..\lib\portaudio\build\msvc\Win32\$(var.tinyphone.Configuration)\portaudio_x86.dll" />

      </Component>
    </ComponentGroup>
    <ComponentGroup Id="ProductSupportComponents" Directory="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{AE75A17D-3EBF-4B68-AA32-73D18D983317}">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.ShortcutName)" Description="Strowger Softphone" Target="[#TinyPhone.exe]" WorkingDirectory="INSTALLFOLDER" />
        <Shortcut Id="UninstallProduct"	Name="Uninstall $(var.ShortcutName)" Description="Uninstalls $(var.ShortcutName)" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Flipkart\TinyPhone" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        <!--<RemoveRegistryKey Root="HKCU" Key="Software\Flipkart\TinyPhone"  Action="removeOnUninstall" />-->
      </Component>
      <!--
      <Component Id="TinyPhoneAutoStart" Guid="{AE75A17D-3EBF-4B68-AA32-73D18D983318}">
        <RegistryValue Id="Strowger.rst" Root="HKMU"  Action="write"
                       Key="Software\Microsoft\Windows\CurrentVersion\Run"
                       Name="$(var.ShortcutName)"
                       Value="[#TinyPhone.exe]"
                       Type="string" />
        <Condition>APP_AUTO_START</Condition>
      </Component>
      -->
    </ComponentGroup>
  </Fragment>
</Wix>