[submodule "lib/pjproject"]
	path = lib/pjproject
	url = https://github.com/voiceip/pjproject.git
[submodule "lib/vp8vfw"]
	path = lib/vp8vfw
	url = https://github.com/XhmikosR/vp8vfw.git
[submodule "lib/opus"]
	path = lib/opus
	url = https://github.com/xiph/opus.git
[submodule "lib/crow"]
	path = lib/crow
	url = https://github.com/kingster/Crow.git
[submodule "lib/boost"]
	path = lib/boost
	url = https://github.com/boostorg/boost.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "lib/curl"]
	path = lib/curl
	url = https://github.com/curl/curl.git
[submodule "lib/bcg729"]
	path = lib/bcg729
	url = https://github.com/BelledonneCommunications/bcg729.git
[submodule "lib/cryptopp"]
	path = lib/cryptopp
	url = https://github.com/weidai11/cryptopp.git
[submodule "lib/portaudio"]
	path = lib/portaudio
	url = https://github.com/voiceip/portaudio.git
[submodule "lib/statsd-cpp"]
	path = lib/statsd-cpp
	url = https://github.com/voiceip/statsd-cpp.git
[submodule "tinyphone-osx/vendor/boost"]
	path = tinyphone-osx/vendor/boost
	url = https://github.com/faithfracture/Apple-Boost-BuildScript.git
